<%-include('headerscript')%>
<!-- <title>stu_dashboard</title> -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="15"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/showRequests">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Leave Status</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        <!-- Notifications -->
        <div class="dropdown">
          <a
            data-mdb-dropdown-init
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </div>
        <!-- Avatar -->
        <a  href="/logout_stu_dashboard"> <button  href="/logout_stu_dashboard">logout</button></a>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar end-->







<!DOCTYPE html>
<html>
  <head>
    <title>Leave Request Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Leave Request Form</h1>
      <form action="/stu_dashboard" method="post">
        <div class="form-group">



          
          <input type="text" value="pending" name="status" hidden>
          <input type="text" value="<%= udata.email %>" name="email" hidden>
          <input type="text" value="<%= udata.fname %>" hidden>
          <input type="text" value="<%= udata.rollno %>" hidden>
          <label for="leaveType">Leave Type</label>
          <select class="form-control" name="leaveType" id="leaveType">
            <option value="">Select Leave Type</option>
            <option value="vacation">Vacation</option>
            <option value="sick">Sick</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="date" name="startDate" class="form-control" id="startDate" />
        </div>
        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="date" name="endDate" class="form-control" id="endDate" />
        </div>
        <div class="form-group">
          <label for="reason">Reason</label>
          <textarea class="form-control" id="reason" name="reason" rows="3"></textarea>
        </div>
        <div class="form-group form-check">
          <!-- <input type="checkbox"  name="halfDay" value="Yes" class="form-check-input" id="halfDay" />
          <input type="checkbox" checked  name="halfDay" value="No" class="form-check-input" id="halfDay" /> -->

          <input type="checkbox"  name="halfDay" value="yes" checked  id="halfDay" />
         

          <!-- -------------------------------- -->
         
    
          <!-- ----------------------------------------------- -->
          <label class="form-check-label" for="halfDay">Is it a Half Day?</label>
        </div>
        <button type="submit" class="btn btn-primary">Apply Leave</button>
        <button type="button" class="btn btn-danger ml-2">Cancel</button>
        
      </form>
    </div>
  </body>
</html>





















  <script>
    // Initialization for ES Users
import { Dropdown, Collapse, initMDB } from "mdb-ui-kit";

initMDB({ Dropdown, Collapse });
  </script>
